@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bkg: 20deg 100% 99%;
    --color-content: 235deg 5% 44%;

    --color-primary: 253deg 65% 49%;
    --color-secondary: 56deg 53% 38%;
    --color-accent: 152deg 11% 23%;
  }

  :root[data-theme='light'] {
    --color-bkg: 20deg 100% 99%;
    --color-content: 235deg 5% 44%;

    --color-primary: 253deg 65% 49%;
    --color-secondary: 56deg 53% 38%;
    --color-accent: 152deg 11% 23%;
  }

  :root[data-theme='dark'] {
    --color-bkg: 220deg 100% 1%;
    --color-content: 235deg 5% 44%;

    --color-primary: 253deg 65% 49%;
    --color-secondary: 56deg 53% 38%;
    --color-accent: 152deg 11% 23%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-bkg: 220deg 100% 1%;
      --color-content: 235deg 5% 44%;

      --color-primary: 253deg 65% 49%;
      --color-secondary: 56deg 53% 38%;
      --color-accent: 152deg 11% 23%;
    }
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-mona-sans text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .cursor-newtab {
    cursor:
      url('/images/new-tab.png') 10 10,
      pointer;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}
